<div class="container">

  <div class="about-us-container">
    <h2>About Us</h2>

    <p>
      Welcome to Avi Interior, your trusted partner in creating beautiful and functional interior spaces.
      With a passion for design and a commitment to excellence, we strive to transform your vision into reality.
    </p>

    <p>
      At Avi Interior, we believe in the power of thoughtful design to enhance the quality of life.
      Our team of experienced designers and architects collaborates with clients to bring their ideas to life,
      creating spaces that are both aesthetically pleasing and highly functional.
    </p>

    <p>
      Whether you are looking to redesign your home, office, or any other interior space,
      we are dedicated to delivering innovative and customized solutions that cater to your unique needs.
    </p>

    <p>
      Explore our portfolio to see some of our successful projects, and feel free to contact us to discuss
      how Avi Interiors can bring creativity and style to your next interior design endeavor.
    </p>

    <P>
      At Avi Interior, we understand the importance of making design dreams a reality within a reasonable budget. Our
      commitment to affordability doesn't compromise the quality of our work. We take pride in offering budget-friendly
      solutions without compromising on creativity and functionality. Our team works closely with clients to tailor
      designs that not only align with their vision but also fit seamlessly within their budget constraints. From
      cost-effective material choices to smart space utilization, we prioritize delivering customized designs that
      reflect
      your unique style while ensuring a pocket-friendly approach. At Avi Interiors, we believe that everyone deserves a
      space that reflects their personality, and we strive to make that a reality for our clients.
    </P>
  </div>
</div>

<!-- <div class="container">

  <div class="row">
    <div class="col-6">
      <h1>Office Address</h1>
      <div class="address">
        Avi Interior, Sy No.123, Medahalli Kadugodi Rd, Sonnenahalli Colony, Krishnarajapura, Bengaluru, Karnataka
        560049<br>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h1>Our Services</h1>
    Commercial Interior Design Services
    Residential Interior Design Services
    Interior Design Consultation
    Modular Kitchen Design Services
    False Ceiling Services
    Painting and Wall Enhancement
    Lighting and Soft Furnishing
    Tiles & Wall Cladding & Granites
  </div>
</div> -->